// app global css in SCSS form
//TODO: DIVIDIR SCSS por archivos
@import './mixins/mixins';
@import './global/global';
@import './layout/login';
@import './layout/dashboard';

.descripcion-reporte {
    white-space: unset !important;
}
.table-header{
    text-transform: uppercase;
    background-color: $primary;
    color: white;
    font-weight: bold;
}
